body {
  margin: 0;
  padding: 0; }

section, aside {
  display: inline-block;
  vertical-align: top; }

section {
  background-color: yellow;
  width: 69%; }

aside {
  background-color: orange;
  width: 30%; }

header, footer {
  display: block;
  width: 100%;
  background-color: grey; }

.container {
  width: 80%;
  margin: 0 auto; }

nav {
  width: 100%;
  display: block; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block;
    padding: 10px; }
    nav li a {
      color: white;
      text-decoration: none; }
    nav li:hover {
      background-color: blue; }

.makeGreen {
  background-color: green; }

section {
  display: none; }

.active-section {
  display: inline-block; }
