<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>crud demo - reddit demo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/html-template" id="redditTmpl">
    <article class="">

      <h2><%= title %></h2>
      <p>
        <%= content %>
      </p>
      <div class="action btn-group">
        <button class="btn btn-info" >edit</button><button class="btn btn-danger">delete</button>
      </div>
      <div class="editing">

      </div>
    </article>
  </script>
</head>
<body>
  <div class="row">
    <div class="col-md-8" style="padding:20px;">

    </div>
    <div class="col-md-4">
      <h3>Submit Reddit</h3>
      <form class="">
        <input type="text" name="title" value="">
        <textarea name="content" rows="8" cols="40"></textarea>
        <button type="submit" name="button">submit reddit</button>
      </form>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>

  <script src="app.js" charset="utf-8"></script>
</body>
</html>
