<a href="/#/">BACK</a>

<h2>Add a new blog</h2>
  <input type="text" placeholder="Author" name="author" ng-model="blog.author">
  <input type="text" placeholder="Title" name="title" ng-model="blog.title">
  <textarea placeholder="BLOG FOR ME" name="blog" ng-model="blog.blog"></textarea>
  <!-- <input type="text" placeholder="Leave Comment" name="comment"> -->
  <input type="submit" name="Submit" ng-click="submitBlog(blog)">


<!--
  <h3>{{blog.title}}</h3>
  <p>{{blog.blog}}</p>
  <p>{{blog.author}}</p> -->
