header, footer {
  width: 100%;
  background-color: orange;
}

.row {
  width: 80%;
  margin: 0 auto;
  clear: both;
}
.row:before {
  content: '';
  clear: both;
}
.row:after {
  content: '';
  clear: both;
}

section {
  display: inline-block;
  vertical-align: top;
  background-color: red;
  width: 32.8%;
}

.box {
  position: relative;
  background-color: grey;
  display: inline-block;
  vertical-align: top;
  width: 23.99%;
}
.box img {
  width: 100%;
}
.box h3 {
  width: 100%;
  bottom:10px;
  left: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
}
